* {
    padding: 0;
    margin: 0;
}

h1 {
    background-color: red;
}

#container {
    display: flex;
    justify-content: space-between;
    background-color: red;
    padding: 1%;
}

.navigace {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: red;
}

.navigace a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
}

.navigace a:hover {
    background: black;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .navigace {
        justify-content: space-around;
        display: grid;
        grid-auto-flow: column;
        padding: 0;
    }
    .navigace a {
        text-align: center;
        margin: 10%;
        font-size: 200%;
    }
}
